<header class="bar-title">
   
  <h1 class="title">Algorithms</h1>
   
</header>
<div class="content">
  <ul class="list">
    <li><a href="#/data-structures">Data Structures</a> <span class="chevron"></span></li>
    <li><a href="#/2">What is?</a><span class="chevron"></span></li>
    <li><a href="#/2">Videos</a><span class="chevron"></span></li>
    <li><a href="#/2">Books</a><span class="chevron"></span></li>
    <li><a href="#/2">Design Patterns</a><span class="chevron"></span></li>

  </ul>
</div>