<header class="bar-title">
   <a class="button" href="#/1">
    Home
  </a>
  <h1 class="title">Data Structures</h1>
   
</header>

 

<div class="content">
  <ul class="list">
	<li><a title="Stacks" href="#/data-structures/stacks/">Stacks</a>
	<span class="chevron"></span>
	</li>
	<li><a href="#/data-structures/ques">Ques</a><span class="chevron"></span></li>
	<li><a title="Matrix" href="#/data-structures/matrix/">Matrix</a><span class="chevron"></span></li>
	<li><a title="Arrays" href="#/data-structures/arrays/">Arrays</a><span class="chevron"></span></li>
	<li><a title="Linked List" href="#/data-structures/linked-list/">Linked List</a><span class="chevron"></span></li>
	<li><a title="Graphs" href="#/data-structures/graphs/">Graphs</a><span class="chevron"></span></li>
	<li><a title="Trees" href="#/data-structures/trees/">Trees</a><span class="chevron"></span></li>
	<li>Searching<span class="chevron"></span></li>
	<li>Sorting<span class="chevron"></span></li>
	<li></li>
</ul>
</div>