<header class="bar-title">
   
  <h1 class="title">Print all </h1>
   
</header>
<div class="content">
  {{location.path()}}--  {{scrollTo}}
 <ul class="segmented-controller">
  <li class="">
    <a ng-click="scrollTo('item1')">Thing one</a>
  </li>
  <li>
    <a ng-click="scrollTo('item2')">Thing two</a>
  </li>
  <li>
    <a href="#{{location.path()}}?scrollTo=item3">Thing three</a>
  </li>
</ul>
<ul class=" list">
  <li id="#item1" class="segmented-controller-item">
    Item 1
  </li>
  <li id="#item2" class="segmented-controller-item">
    Item 2
  </li>
  <li id="#item3" class="segmented-controller-item">
    Item 3
  </li>
</ul>
</div>